.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.8em 122.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.add-black-24:before {
      background-position: 0em 0em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.add-black-48:before {
      background-position: 0em -2.4em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.close-black-24:before {
      background-position: 0em -7.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.close-black-48:before {
      background-position: 0em -9.6em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_bike-black-24:before {
      background-position: 0em -14.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_bike-black-48:before {
      background-position: 0em -16.8em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_bus-black-24:before {
      background-position: 0em -21.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_bus-black-48:before {
      background-position: 0em -24em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_car-black-24:before {
      background-position: 0em -28.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_car-black-48:before {
      background-position: 0em -31.2em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_ferry-black-24:before {
      background-position: 0em -36em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_ferry-black-48:before {
      background-position: 0em -38.4em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_train-black-24:before {
      background-position: 0em -43.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_train-black-48:before {
      background-position: 0em -45.6em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.directions_walk-black-24:before {
      background-position: 0em -50.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.directions_walk-black-48:before {
      background-position: 0em -52.8em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.flight-black-24:before {
      background-position: 0em -57.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.flight-black-48:before {
      background-position: 0em -60em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.hotel-black-24:before {
      background-position: 0em -64.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.hotel-black-48:before {
      background-position: 0em -67.2em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.local_cafe-black-24:before {
      background-position: 0em -72em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.local_cafe-black-48:before {
      background-position: 0em -74.4em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.local_parking-black-24:before {
      background-position: 0em -79.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.local_parking-black-48:before {
      background-position: 0em -81.6em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.map-black-24:before {
      background-position: 0em -86.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.map-black-48:before {
      background-position: 0em -88.8em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.menu-black-24:before {
      background-position: 0em -93.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.menu-black-48:before {
      background-position: 0em -96em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.navigation-black-24:before {
      background-position: 0em -100.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation-black-48:before {
      background-position: 0em -103.2em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.person-black-24:before {
      background-position: 0em -108em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.person-black-48:before {
      background-position: 0em -110.4em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.remove-black-24:before {
      background-position: 0em -115.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.remove-black-48:before {
      background-position: 0em -117.6em;
      width: 4.8em;
      height: 4.8em;
  }





