/**
 * Site styles
 */

/**
 * Reset styles
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
iframe {
  width: 100%;
  height: auto;
}

/**
 * Typography
 */

body {
  font: normal 100%/1.8 sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
}

p {
  margin-bottom: 1em;
}

a {
  color: currentColor;
}

ul,
ol {
  margin: 0 0 1em 2em;
}

nav ul {
  margin: 0;
  list-style: none;
}

/**
 * Shared component styles
 */

.section {
  min-height: 100vh;
  padding: 20px;
}

.section-heading {
  margin: 0 0 20px;
}

/**
 * Site header
 */

.site-header {
  padding: 20px;
}

/**
 * Site footer
 */

.site-footer {
  padding: 20px;
}

/**
 * Intro section styles
 *
 * Start all rules with .section-intro
 */

/**
 * Wishlist section styles
 *
 * Start all rules with .section-wishlist
 */

/**
 * Gallery section styles
 *
 * Start all rules with .section-gallery
 */

/**
 * Location section styles
 *
 * Start all rules with .section-location
 */

/**
 * About section styles
 *
 * Start all rules with .section-about
 */