/**
 * Site styles
 */

/**
 * Reset styles
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
iframe {
  width: 100%;
  height: auto;
}

/**
 * Typography
 */

/**
 * Component styles
 */

/**
 * Layout styles
 */