@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Pacifico|Varela+Round');
/**
 * Site styles
 */

/**
 * Reset styles
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
iframe {
  width: 100%;
  height: auto;
}

/**
 * Typography
 */

body {
  font: normal 100%/1.8 'Varela Round', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', sans-serif;
}

p {
  margin-bottom: 1em;
}

a {
  color: currentColor;
}

/**
 * Component styles
 */

.section {
  padding: 20px;
  min-height: 100vh;
}

.section-heading {
  margin-bottom: 20px;
  font-size: 2.5em;
}

#section-intro {
  background-color: #E8624F;
}

#section-wishlist {
  background-color: #FFEA53;
}

#section-gallery {
  background-color: #63FF66;
}

#section-location {
  background-color: #00C3B4;
}

#section-about {
  background-color: #09FCFF;
}

.wishlist li {
  display: block;
}

.wishlist input:checked + span {
  text-decoration: line-through;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  margin: -10px;
}

.gallery figure {
  flex: 1 1 150px;
  padding: 10px;
}

/**
 * Layout styles
 */

.site-header {
  background: white;
  padding: 20px;
}

.site-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.site-menu-trigger {
  font-size: 1em;
  padding: 10px;
  border: 2px solid white;
  background: transparent;
  border-radius: 5px;
}

.site-menu li {
  display: inline;
}

.site-menu a {
  display: block;
  padding: 10px 0;
}

.site-menu-trigger.is-closed + .site-menu {
  display: none;
}

.site-footer {
  padding: 20px;
}